
<div class="header__wrapper">
  <header></header>
  <div class="cols__container">
    <div class="left__col">
      <div class="img__container">
        <img [src]="userProfile.profileImageUrl" alt="ja" />
        <span></span>
      </div>
      <h2>{{ userProfile.name }}</h2>
      <p>{{ userProfile.title }}</p>

      <ul class="about">
        <li><span>{{ userProfile.followers }}</span>Followers</li>
        <li>
          <span>
            <a style="color: black; " routerLink="/userprofile/followinglist">{{ userProfile.following }}</a>
          </span>
          <a style="color: gray; " routerLink="/userprofile/followinglist">Following</a>
        </li>
        <li><span>{{ userProfile.posts }}</span>Posts</li>
      </ul>

      <div class="content">
        <p>{{ userProfile.about }}</p>

<!--        <ul>-->
<!--          <li *ngFor="let socialMedia of userProfile.socialMedia">-->
<!--            <i class="{{ socialMedia.icon }}"></i>-->
<!--          </li>-->
<!--        </ul>-->
      </div>
    </div>
    <div class="right__col">
      <nav>
        <ul>
          <li><a href="/photos">photos</a></li>
          <li><a href="/galleries">galleries</a></li>
          <li><a href="/groups">groups</a></li>
          <li><a href="/about">about</a></li>
        </ul>
        <div>
          <button (click)="changeButton()" mat-raised-button color="primary">{{ btnVal }}</button>

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="ConsoleLog()" mat-menu-item>Report</button>
          </mat-menu>
        </div>
      </nav>

      <div class="photos">
        <img *ngFor="let photo of userProfile.photos" [src]="photo" alt="Photo" />
      </div>
    </div>
  </div>
</div>
