<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FamiLink</title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/notifications">Notifications</a></li>
      <li><a href="/messages">Messages</a></li>
      <li><a href="/userprofile">Profile</a></li>
      <li><a routerLink="/user-management">Admin Dashboard</a></li>
    </ul>
  </nav>
  <form>
    <input type="text" placeholder="Search" />
    <button type="submit">Search</button>
  </form>
</header>
<main>
  <div class="post" *ngFor="let post of posts">
    <div class="post-header">
      <img src="https://via.placeholder.com/50x50" alt="Avatar" />
      <div class="post-info">
        <h2>{{post.title}}</h2>
<!--        <p>{{post.postedOn}}</p>-->
      </div>
    </div>
    <div class="post-content">
      <h4>{{post.description}}</h4>
    </div>
    <div class="post-footer">
      <button>Like</button>
      <button>Comment</button>
      <button>Share</button>
    </div>
  </div>
</main>
<footer>
  <p>FamiLink &copy; 2023</p>
</footer>
</body>
</html>
